<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Posting</title>
    <link rel="icon" type="image/png" sizes="32x32" href="images/blog.png">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/footer.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="logo">
        <a href="/">Bloggerist</a>
      </div>
      <nav class="navbar">
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/compose">Compose</a></li>
        </ul>
      </nav>
    </header>
    <main>
