<%- include("partials/header")%>

<div class="home-container">
  <h1 class="title">Blog Posts</h1>

  <% if(locals.posts && locals.posts.length > 0){ %>

  <div class="post-grid">
    <% posts.forEach(post => { %>
    <div class="blog-card">
      <h2 class="post-title"><%= post.title %></h2>
      <p class="post-content"><%= post.message %></p>
    </div>
    <%});%>
  </div>

  <% } else {%>
  <p class="no-post">
    No posts found. Go <a href="/compose" class="create-post">Create one</a>!
  </p>
  <% } %>
</div>

<%- include("partials/footer")%>
