:root {
  --primary-color: #58c4dc;
  --primary-color-hover: hsl(191, 65%, 45%);
  --body-bg: #16181d;
  --text-color: #ebecf0;
  --main-font: "Inter", sans-serif;

  --card-bg: #22252e;
  --card-border: #363b49;
  --card-hover: #2a2f3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100dvh;
  background-color: var(--body-bg);
  color: var(--text-color);
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
}

/* Home Page eto */
.home-container {
  max-width: 700px;
  padding: 20px 20px;
  margin: 0 auto;
  flex: 1;
  width: 100%;
}

.title {
  font-size: 3rem;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 1.5rem 0;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.blog-card {
  padding: 15px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

.blog-card:hover {
  background-color: var(--card-hover);
  transform: translateY(-5px);
  border-color: var(--primary-color);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.blog-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

.blog-card p {
  color: #a0a3bd;
  line-height: 1.5;
  text-align: left;
}

.no-post {
  text-align: center;
}

.create-post {
  text-decoration: none;
  transition: 0.2s ease-in-out;
  color: var(--text-color);
  font-weight: bold;
}

.create-post:hover {
  color: var(--primary-color);
}

/* About Me eto*/

.about-container .title {
  margin: 2rem 0;
}

.image-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.image-wrapper .profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.wrapper-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-description {
  text-align: center;
  letter-spacing: 1.2px;
  line-height: 1.5;
  font-size: 20px;
  user-select: none;
}

/* Compose Page eto */
#composeBlog {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  gap: 15px;
  margin-top: 30px;
}

.compose-title {
  text-align: left;
  font-size: 32px;
  letter-spacing: 1.1px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.lblInput {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

#blogTitle,
#postMessage {
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
}

#postMessage {
  height: 10rem;
  resize: vertical;
}

.btn {
  width: 20%;
  background-color: var(--primary-color);
  color: var(--body-bg);
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 13px 0;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  filter: brightness(0.9);

  transform: translateY(-2px);
}
